img {
  height: 300px;
  width: auto;
  margin: 0px 30px;
}

.product-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-holder {
  position: relative;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.heart-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 164, 164);
  margin-top: 20px;
  padding: 0;
}

.basket-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.heart-button:hover path {
  fill: red;
}

.heart-button svg {
  width: 100%;
  height: 100%;
  margin-top: 27px;
  margin-left: 13px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  background-color: rgb(250, 207, 154);
}

.circle2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2:hover {
  background-color: rgb(250, 207, 154);
}

.buttons {
  display: flex;
  flex-direction: row;
}
