
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 30px 30px 615px;
  }

.button1{
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 30px 30px 630px;
}
p{
    text-align: center;
}