<div *ngFor="let product of products" class="brand-products-holder">
  <div class="container" (click)="viewProductDetails(product.id)">
    <img src="{{ product.image }}" alt="product-image" width="200px" />
    <h3>{{ product.name }}</h3>
    <p>Цена: {{ product.price }}</p>
    <p>СКИДКА: {{ product.discount }}</p>
  </div>

  <button class="heart-button" (onclick)="addToWishlist()">
    <div class="circle">
      <svg>
        <path
          fill="none"
          stroke="currentColor"
          d="m7.138 3.04.362.38.361-.38c.382-.398 1.253-1.104 2.296-1.402 1.003-.286 2.167-.202 3.281.963 1.119 1.17 1.208 2.41.928 3.484-.288 1.103-.967 2.02-1.348 2.417l-3.255 3.406-1.824 1.909-.44.46-.438-.46-1.824-1.909-3.255-3.406C1.602 8.104.922 7.188.634 6.085.354 5.01.443 3.772 1.561 2.6c1.114-1.165 2.279-1.25 3.282-.963 1.042.298 1.914 1.004 2.295 1.403Z"
        />
      </svg>
    </div>
  </button>

  <button class="basket-button">
    <div class="circle2">
      <svg width="21" height="22">
        <path
          fill="none"
          stroke="currentColor"
          d="M7 6v-.5a3.5 3.5 0 1 1 7 0V6h3v13H4V6h3Zm1-.5a2.5 2.5 0 0 1 5 0V6H8v-.5ZM7 7v1.5h1V7h5v1.5h1V7h2v11H5V7h2Z"
        />
      </svg>
    </div>
  </button>
</div>
