.register-page{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 300px;
  margin: 0 auto 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for the login form heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

/* Style for labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for input fields */
input {
  width: 94%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 20px;
}

/* Style for the login button */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #c6b09f;
}

#register {
  color: #007bff;
}
